.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;

  max-width: 1000px;
  margin: 0 auto;
  padding: 100px 0;

  h2 {
    font-size: 45px;
    text-align: center;

    @media screen and (min-width: 1920px) {
      font-size: 60px;
    }
  }

  @media screen and (min-width: 1920px) {
    max-width: 1800px;
    margin-bottom: 150px;
  }
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  gap: 80px;

  width: 100%;

  &__skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;

    li {
      width: 80px;
      height: 80px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media screen and (min-width: 1920px) {
        width: 160px;
        height: 160px;
      }

      img {
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.192);
        border-radius: 50%;
        margin-bottom: 10px;
      }

      h4 {
        font-weight: 400;
        color: var(--gray-color);
      }
    }

    @media screen and (min-width: 1920px) {
      gap: 80px;
    }
  }

  &__experiences {
    width: 40%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;

    &__experience {
      display: flex;
      gap: 50px;

      .date {
        color: var(--secondary-color);
        font-weight: 600;
      }

      p {
        color: var(--gray-color);
        font-size: 14px;
      }

      @media screen and (min-width: 1920px) {
        h4 {
          font-size: 32px;
        }

        p {
          font-size: 24px;
        }
      }
    }
  }

  @media screen and (max-width: 900px) {
    flex-direction: column;
    align-items: center;

    &__skills {
      padding: 0;
    }

    &__experiences {
      width: 80%;
    }
  }
}
