.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;

  max-width: 1100px;
  margin: 0 auto 60px auto;
  padding: 100px 0;

  h2 {
    font-size: 45px;
    text-align: center;

    span {
      color: var(--secondary-color);
    }

    @media screen and (min-width: 1920px) {
      font-size: 60px;
    }
  }

  @media screen and (min-width: 1920px) {
    max-width: 1800px;
  }
}

.worksList {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;

  &__work {
    width: 330px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    background-color: #fff;
    border-radius: 8px;

    padding: 20px 20px 30px 20px;

    position: relative;

    img {
      border-radius: 8px;
      height: 220px;
      object-fit: cover;
    }

    .imgOverlay {
      position: absolute;
      height: 220px;
      width: calc(100% - 40px);
      background-color: #00000080;
      border-radius: 8px;

      display: flex;
      justify-content: center;
      gap: 40px;
      align-items: center;
      opacity: 0;

      svg {
        color: #fff;
        font-size: 50px;
        background-color: #000000b4;
        border-radius: 50%;
        padding: 10px;
        transition: 0.2s;
        cursor: pointer;
      }

      svg:hover {
        scale: 0.9;
      }

      @media screen and (min-width: 1920px) {
        height: 370px;
      }
    }

    &:hover {
      box-shadow: 0 0 25px #00000033;
    }
  }

  @media screen and (min-width: 1920px) {
    &__work {
      width: 440px;

      img {
        height: 370px;
      }

      h3 {
        font-size: 32px;
      }
    }
  }
}
