.app__wrap {
  display: flex;
  justify-content: space-between;

  background: url("../assets/bgIMG.webp");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;

  padding: 0 25px 10px 25px;
}
