.header {
  display: flex;
  justify-content: space-between;

  padding: 100px 60px 0 60px;

  &__info {
    flex: 0.65;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 50px;
    margin-bottom: 30px;

    &-textWrapper {
      width: fit-content;
      background-color: #fff;

      display: flex;
      align-items: center;
      gap: 40px;

      font-size: 20px;
      border-radius: 30px;
      padding: 20px 50px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

      span {
        font-size: 40px;
      }
    }
  }

  &__profile {
    flex: 0.75;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;

    .profile-img {
      width: 80%;
      object-fit: contain;
      z-index: 1;
    }

    .profile-bg {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      width: 100%;
      height: 90%;
    }
  }

  &__circles {
    flex: 0.65;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-left: 1rem;

    .circle {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    div {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: var(--white-color);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

      img {
        width: 60%;
        height: 60%;
      }
    }

    div:nth-child(1) {
      width: 100px;
      height: 100px;

      @media screen and (min-width: 1920px) {
        width: 200px;
        height: 200px;
      }
    }

    div:nth-child(2) {
      margin: 24px;
      width: 150px;
      height: 150px;

      @media screen and (min-width: 1920px) {
        width: 350px;
        height: 350px;
      }
    }

    div:nth-child(3) {
      width: 70px;
      height: 70px;

      @media screen and (min-width: 1920px) {
        width: 170px;
        height: 170px;
      }
    }

    @media screen and (max-width: 1000px) {
      margin-top: 50px;
      width: 100%;
      flex-direction: row;
      align-self: center;
    }

    @media screen and (max-width: 600px) {
      flex-wrap: wrap;
    }
  }

  @media screen and (min-width: 1920px) {
    padding: 200px 40px 0 40px;
  }

  @media screen and (max-width: 1000px) {
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 40px 0 40px;
  }

  @media screen and (max-width: 400px) {
    padding: 100px 20px 0 20px;
  }
}
